.navbar {
    z-index: 2000;
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #303236;
    display: flex;
    justify-content:first baseline;
    align-items:flex-start;
    padding: 10px 30px;
    box-sizing: border-box;
    margin:10px;
}

.createbreedbtn {
    margin:auto

}

.noDeco {
    text-decoration: none;
}